/* Write your CSS here */
* {
  margin: 0px;
}
.main-container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  height: 400px;
  width: 400px;
  background-color: #eaebed;
  box-shadow: 2px 3px 2px 2px #e4ebf3;
  text-align: center;
  border-radius: 10px;
}
.heading {
  color: #0b69ff;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
  margin-top: 40px;
}
.paragraph {
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 16px;
  margin: 10px;
  margin-top: 40px;
}
.btn {
  background-color: #0b69ff;
  border-radius: 4px;
  color: white;
  font-family: 'Roboto';
  font-weight: 400;
  border: 0px;
  width: 100px;
  height: 30px;
  margin-top: 40px;
  font-size: 16px;
  cursor: pointer;
}
.header-result {
  color: #0b69ff;
  font-size: 30px;
  margin-top: 40px;
  font-weight: bold;
}
